header {
  background-color: #ffe4c4;
  color: white;
  padding: 10px 0;
  text-align: center;
}

header a {
  color: #033316;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: baseline;
  
}

main section>h2 {
  height: 50px;
}

section {
  width: 48%;
  padding: 0 !important;
}

.producto {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 100%;
  padding: 15px;
  gap: 5px;
  border-radius: 7px;
  align-items: center;

}

button {
  background-color: #033316;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 7px;
  font-family: unset;
  font-size: 11px;
}

button:hover {
  background-color: #033316de;
}

#carrito ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

#carrito li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  max-width: 100%;

}

#productos,
#carrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

#lista-carrito {
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 10px;
  max-width: 100%;
}

#limpiar-carrito {
  background-color: #630000;
}

#carrito>button {
  width: 130px;
}

.quitar-carrito {
  margin: 5px;
}