@import url("global.css");

.boton {
  font-size: 15.21px;
  color: #fff;
  background-color: var(--green-color);
  padding: 20px 30px;
  border-radius: 7px;
  cursor: url("../img/cursor-cow.png"), pointer;
  transition: 0.1s ease-in-out;
}

.boton:hover {
  background-color: var(--green-color-hover);
}

section {
  align-items: center;
  justify-content: center;
  padding: 40px 3%;
  gap: 10px;
  color: #1e201f;
}

/* NAVBAR */
nav#navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-bottom: solid var(--green-color);
  z-index: 10;
  padding: 0 1%;
  box-shadow: 0px 0px 14px #0000009c;
}

nav#navbar a {
  height: 100%;
  cursor: url("../img/cursor-cow.png"), pointer;
}

/* nav#navbar header {
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #000;
} */

a.nav-link {
  padding: 15px 20px;
  text-transform: uppercase;
  background-color: #ffffffc2;
  color: var(--green-color);
  transition: 0.1s;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 0px 14px #0000009c;
}

a.nav-link:hover {
  color: var(--green-color);
  background-color: #fff;
  cursor: url("../img/cursor-cow.png"), pointer;
}

.menu {
  width: 43px;
}

.burger-menu {
  width: 100%;
  cursor: url("../img/cursor-cow.png"), pointer;
  padding: 10px;
}

.barra-burger {
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background: var(--green-color);
  transition: 0.1s ease-in-out;
  transition-property: transform;
}

.burger-menu:hover .barra-burger {
  background: var(--green-color-hover);
  cursor: url("../img/cursor-cow.png"), pointer;
}

.barra-burger:nth-child(1),
.barra-burger:nth-child(2) {
  margin-bottom: 6px;
}

ul.nav-content {
  display: none;
  position: fixed;
  top: 70px;
  left: 0px;
  width: 100%;
  height: 100dvh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #3030306d;
  backdrop-filter: blur(7px);
  font-size: 20px;
  padding-bottom: 70px;
}

input#check-menu {
  display: none;
}

input#check-menu:checked+label .burger-menu .barra-burger {
  background-color: #fe6732;
  transform: rotate(180deg);
}

input#check-menu:checked+label .nav-content {
  display: flex;
}

/* END NAVBAR */

main img.banner {
  width: 100%;
}

main section.main-section {
  width: 100%;
  color: #000;
  background-color: #fff;
  gap: 10px;
}

header {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  backdrop-filter: blur(7px);
  background-color: #ffffff70;
  padding: 14px;
  /* border: dashed 1px; */
  border-radius: 7px;
}

/* PRODUCTS */
section#products {
  color: #000;
  width: 100%;
  gap: 7px;
  background-image: url(../img/light-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#products h2 {
  margin-top: 14px;
}

section#products div {
  color: #000;
  width: 100%;
  gap: 14px;
}

#slider-otros,
#slider-combos,
#slider-griego {
  max-width: fit-content;
}

#slider-combos img {
  width: 280px;
}

section#products ul {
  gap: 15px;
  display: flex;
  width: 210px;
  overflow-x: scroll;
  padding: 1px 15px 7px 15px;
  scroll-snap-type: x mandatory;
  border-radius: 7px;
}

section#products ul li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 210px;
  gap: 5px;
  color: #000;
  text-align: center;
  transition: 0.1s ease-in-out;
  scroll-snap-align: center;
}

section#products ul li p {
  position: relative;
  bottom: 80%;
  pointer-events: none;
  z-index: 1;
  padding: 0 21px;
  color: transparent;
  transition: 0.1s ease-in-out;
  height: 0px;
  text-align: center;
  width: 100%;
}

section#products #slider-combos li img,
section#products #slider-combos li,
section#products #slider-combos {
  width: 280px;
}

section#products ul li img {
  width: 210px;
  border-radius: 7px;
  transition: 0.1s ease-in-out;
}

section#products ul li img:hover+p {
  color: white;
}

section#products ul li img:hover {
  filter: brightness(10%);
}

section#products ul li:hover {
  color: var(--green-color);
}

section#products ul li {
  font-size: 13px;
}

/* SCROLLBAR MY products */
section#products ul::-webkit-scrollbar {
  background: transparent;
  height: 10px;
}

section#products ul::-webkit-scrollbar-track {
  margin-inline: 50px;
}

section#products ul::-webkit-scrollbar-thumb {
  background: #585858;
  border-radius: 12px;
}

section#products ul::-webkit-scrollbar-thumb:hover {
  background: var(--green-color);
}

@media (min-width: 800px) {
  section {
    padding: 21px 14%;
  }

  .imgbanner {
    max-width: 500px;
  }

  section#products ul,
  section#products #slider-combos {
    width: 84%;
  }
}